body {
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
div {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background: #f6f6fe;
}
.box {
  width: 486px;
  flex-direction: column;
  gap: 10px;
}
input {
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  padding: 8px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #808080;
}
button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  display: flex;
  width: 120px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  background: #4e75ff;
}
button:hover {
  background: #6c8cff;
}
.red {
  background: #ff4e4e;
}
.red:hover {
  background: #ff7070;
}
